<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Video Contest</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" type="text/javascript"></script>
</head>
<body ng-controller="myController">
	<form ng-submit="submitVideo()">
		<input ng-model="newVideo.name" placeholder="Name"><br>
		<input ng-model="newVideo.URL" placeholder="URL"><br>
		<input ng-model="newVideo.title" placeholder="Title"><br>
		<input ng-model="newVideo.description" placeholder="Description">
		<input type="submit">
	</form>
	<button><a href="/submissions">View Submissions</a></button>
	

	<script src="main.js"></script>
</body>
</html>